MONGO_CLUSTER_URI=mongodb+srv://<username>:<password>@<cluster>.net/uber?retryWrites=true&w=majority&appName=uber-clone
JWT_ACCESS_SECRET=your_jwt_access_secret_here
GOOGLE_MAPS_API=your_google_maps_api_key_here